section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    background: #CCCCCC;
}

section .logotipo {
    grid-column: 1/span 1;
    grid-row: 1/span 1;
    background: #DDDDDD
    
}

section .cabecalho {
    grid-column: 2/span 2;
    grid-row: 1/span 1;
    background: chocolate;
}

section .busca {
    grid-column: 1/span 3;
    grid-row: 2/ span 1;
    background: coral;
}

section .links {
    grid-column: 1/span 1;
    grid-row: 3/ span 2;
    background: cyan;
}

section .cont1 {
    grid-column: 2/span 1;
    grid-row: 3/ span 1;
    background: darkkhaki;
}

section .cont2 {
    grid-column: 3/span 1;
    grid-row: 3/ span 1;
    background: darkolivegreen;
}

section .cont3 {
    grid-column: 2/span 1;
    grid-row: 4/ span 1;
    background: darkorange;
}

section .cont4 {
    grid-column: 3/span 1;
    grid-row: 4/ span 1;
    background: darkviolet;
}

section .rodape{
    grid-column: 1/span 3;
    grid-row: 5/ span 1;
    background: deeppink;
}